<!DOCTYPE html>
<!-- saved from url=(0086)/web/20110818152921id_/http://www.youtube.com/user/paulsoaresjr -->
<html lang="en" dir="ltr" xmlns:og="http://opengraphprotocol.org/schema/">
  <!-- machid: sWkFSZzctYUFHdmoxUzR5Qm84V1pnZlp5ZE9qODNPMzI3Q1kwYWVSbFZ4U3BRMWpYbi1haWdn --><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title><%= channel.channelName %>'s Channel - YouTube</title>

    <link rel="search" type="application/opensearchdescription+xml" href="http://www.youtube.com/opensearch?locale=en_US" title="YouTube Video Search" />
    <link rel="icon" href="http://s.ytimg.com/yt/favicon-vflZlzSbU.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="http://s.ytimg.com/yt/favicon-vflZlzSbU.ico" type="image/x-icon" />
    <link rel="canonical" href="/user/<%= channel.channelName %>" />
    <meta name="title" content="<%= channel.channelTitle %>" />

    <meta name="description" content="<%= channel.description %>" />

    <meta name="keywords" content="video, sharing, camera phone, video phone, free, upload" />

    <link rel="image_src" href="<%= channel.profileImageUrl %>" />
    <meta property="og:image" content="<%= channel.profileImageUrl %>" />

    <link id="www-core-css" rel="stylesheet" href="/www-core.css" />

    <link rel="stylesheet" href="/www-the-rest.css" />

    <link rel="stylesheet" href="/www-channel_new.css" />

    <style type="text/css" id="channel-theme-css" name="channel-theme-css">
      #channel-body {
        background-image: url(http://i1.ytimg.com/bg/P6f9x4iXk3LH8Q1sqJmYPQ/111.jpg?app=bg&v=4d6eab78);
      }
      #channel-body,
      .channel-bg-color {
        background-color: #000000;
      }
      #channel-body {
        background-repeat: no-repeat;
      }
      .playnav-item .selector,
      .outer-box-bg-color,
      .outer-box {
        background-color: #444444;
      }
      .panel-tab-indicator-arrow,
      .outer-box-bg-as-border,
      .overlay-box {
        border-color: #444444;
      }
      #playnav-chevron {
        border-left-color: #444444;
      }
      .outer-box-color,
      .outer-box-bg-color,
      .outer-box {
        color: #33ebcb;
      }
      .panel-tab-selected a {
        color: #33ebcb !important;
      }
      .outer-box-color-as-border-color {
        border-color: #33ebcb;
      }
      .playnav-item .yt-uix-button {
        color: #33ebcb;
      }
      .outer-box-link-color,
      .outer-box-bg-color a,
      .outer-box a {
        color: #33ebcb;
      }
      .outer-box-link-as-border-color {
        border-color: #33ebcb;
      }
      #channel-body {
        font-family: Courier New;
      }
      .title-text,
      .title-text-color,
      a.title-text-color,
      .title-text-color a {
        color: #aaaaaa !important;
      }
      a.view-button-selected,
      a.view-button:hover,
      #playnav-navbar a.navbar-tab-selected,
      #playnav-navbar a.navbar-tab:hover {
        background-color: #aaaaaa;
      }
      title-text-as-border-color {
        border-color: #aaaaaa;
      }
      a.view-button-selected .tri,
      a.view-button:hover .tri {
        border-left-color: #aaaaaa;
      }
      .playnav-item .yt-uix-button:hover,
      .playnav-item .yt-uix-button:focus,
      ul.yt-uix-button-menu li span.yt-uix-button-menu-item {
        background: #aaaaaa;
      }
      ul.yt-uix-button-menu li span.yt-uix-button-menu-item:hover {
        color: #aaaaaa;
      }
      .transparent-bg-color {
        background-color: rgba(102, 102, 102, 0.6) !important;
      }
      .outer-box .inner-box a,
      .outer-box .inner-box-colors a,
      .outer-box .inner-box-bg-color a,
      .outer-box .inner-box-link-color {
        color: #33ebcb;
      }
      .channel-cmd {
        border-bottom-color: #33ebcb;
      }
      .link-as-border-color,
      #channel-body .video-thumb {
        border-color: #33ebcb;
      }
      .view-button .tri {
        border-top-color: #33ebcb;
        border-bottom-color: #33ebcb;
      }
      .view-button .a,
      .view-button .tri {
        background-color: #33ebcb;
      }
      .inner-box-colors button.close {
        background-color: #33ebcb;
      }
      .overlay-box button.close {
        background-color: #33ebcb !important;
      }
      .transparent-bg-color {
        filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#99666666, endColorstr=#99666666);
        -ms-filter: 'progid:DXImageTransform.Microsoft.Gradient(startColorstr=#99666666, endColorstr=#99666666)' !important;
      }
      a.inner-box-color-as-link,
      .inner-box-colors .playnav-show .show-facets .show-mini-description,
      .inner-box-color,
      .inner-box {
        color: #f3f3f3;
      }
      .box-outline-color {
        border-color: #f3f3f3;
      }
      a.view-button-selected .a,
      .view-button:hover .a,
      .inner-box-bg-color,
      .inner-box-colors,
      .inner-box,
      .overlay-box {
        background-color: #666666;
      }
      .inner-box-bg-as-border-color,
      .inner-box-bg-color-as-border-color {
        border-color: #666666;
      }
      .panel-tab-selected .panel-tab-indicator-arrow {
        border-bottom-color: #666666 !important;
      }
      .view-button .tri {
        border-left-color: #666666;
      }
      a.view-button-selected .tri,
      .view-button:hover .tri {
        border-top-color: #666666;
        border-bottom-color: #666666;
        background-color: #666666;
      }
      #playnav-navbar a.navbar-tab-selected,
      #playnav-navbar a.navbar-tab:hover {
        color: #666666 !important;
      }
      .playnav-item .yt-uix-button:hover,
      .playnav-item .yt-uix-button:focus,
      ul.yt-uix-button-menu li span.yt-uix-button-menu-item {
        color: #666666;
      }
      ul.yt-uix-button-menu li span.yt-uix-button-menu-item:hover {
        background-color: #666666;
      }
      .transparent-link-as-bg-color {
        background-color: rgba(51, 235, 203, 0.25);
      }
      .transparent-link-as-bg-color {
        filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#4033ebcb, endColorstr=#4033ebcb);
        -ms-filter: 'progid:DXImageTransform.Microsoft.Gradient(startColorstr=#4033ebcb, endColorstr=#4033ebcb)';
      }

      #outage-box {
        display: none;
      }

      #page {
        border-bottom: 3px solid #444444;
      }
      #page #masthead-container {
        border-bottom: none;
        margin-bottom: 0;
      }

      #promos,
      #footer,
      #copyright {
        display: none;
      }
    </style>

    <link rel="alternate" media="handheld" href="http://m.youtube.com/profile?desktop_uri=%2Fuser%2Fpaulsoaresjr&amp;sort=p&amp;channel_id=0&amp;livestreaming_tutorial=False&amp;ytsession=%7B%7D&amp;start=0&amp;user=paulsoaresjr&amp;autoplay=True&amp;gl=RU" />

    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://gdata.youtube.com/feeds/base/users/paulsoaresjr/uploads?alt=rss&amp;v=2&amp;orderby=published&amp;client=ytapi-youtube-profile" />

    <script id="www-core-js" src="/www-core.js.download"></script>

    <script>
      yt.setConfig({
        XSRF_TOKEN: '3wFHj3fJE0CeGgSy5x0fs-raAaJ8MTMxMzc2Nzc2MUAxMzEzNjgxMzYx',
        XSRF_FIELD_NAME: 'session_token',
      });
      yt.pubsub.subscribe('init', yt.www.xsrf.populateSessionToken);

      yt.setConfig('XSRF_REDIRECT_TOKEN', 'TbGFrLmQ-DjKPvsTlZh7T74pjzJ8MTMxMzc2Nzc2MUAxMzEzNjgxMzYx');

      yt.setConfig('LOGGED_IN', false);
      yt.setConfig('ENABLE_WATCH6', false);

      yt.setConfig('FEEDBACK_LOCALE_LANGUAGE', 'en');
      yt.setConfig('FEEDBACK_LOCALE_EXTRAS', { experiments: '912202,913519,910206', accept_language: null });
    </script>

    <script src="/www-channel.js.download"></script>

    <script src="/channel_legacy_all.js.download"></script>

    <script type="text/javascript" src="/jsapi"></script>
    <script type="text/javascript" src="/f.txt"></script>

    <script>
      window.channel_new_ui = true;
      yt.setMsg({
        SUCCESS: 'Changes saved.',
        PROGRESS: 'In progress',
        ERROR: 'Sorry, an error occurred.',
      });

      yt.setMsg({
        BAD_RESPONSE: 'Bad response from server.',
        UNABLE_TO_CONTACT_SERVER: 'Oops! Unable to contact server.',
      });

      yt.setMsg({
        ERROR_WHILE_PROCESSING: 'Error while processing your request.',
        UNKNOWN_ERROR: 'An error occured while performing this operation.',
        POSTING_COMMENT: 'Adding comment...',
        CONFIRM_NAVIGATE_AWAY: 'Are you sure you wish to continue?',
        CONFIRM_UNSAVED_CHANGES: 'You have unsaved changes. If you continue, your changes will not be saved.',
        CONFIRM_LEAVE_BROADCAST: 'This action will halt your broadcast.',
        FLAG_DEFAULT: 'Select a Reason',
        SRSLY_GTFO: 'This will remove the selected user.  Are you sure you wish to continue?',
        THEME_LIMIT: 'You have reached your channel customization limit.',
        CONFIRM_UNSAVED_CHANGES_ARRANGER: 'You have unsaved changes. Are you sure you wish to continue?',
        SHARE_EMAIL_PROMPT: 'Enter email address',
        SHARE_USERNAME_PROMPT: 'Enter Username',
      });

      yt.setConfig({
        FACEBOOK_THIRD_PARTY_DOMAIN: 's.youtube-3rd-party.com',
        FACEBOOK_APP_ID: 87741124305,
        FACEBOOK_YOUTUBE_BASE_URL: 'http:\/\/www.youtube.com\/',
        request_uri: '\/user\/paulsoaresjr',
        http_referer: null,
      });
      yt.setMsg({
        DEFAULT_TWITTER_MESSAGE: 'Check this video out',
        BUZZ_BUTTON_TOOLTIP: 'Post to Google Buzz',
      });

      window.session_info = 'session_token=3wFHj3fJE0CeGgSy5x0fs-raAaJ8MTMxMzc2Nzc2MUAxMzEzNjgxMzYx';
      window.ajax_session_info = 'session_token=';

      window.username = 'paulsoaresjr';
      var max_playlists = 15;
      window.isLoggedIn = false;
      var watchUsername = 'paulsoaresjr';
      window.subscribeaxc = '';
      yt.setConfig('SUBSCRIBE_AXC', window.subscribeaxc);
    </script>

    <script>
      function share(playlist_encrypted_id) {
        var fs = window.open('/share?p=' + playlist_encrypted_id, 'Share', 'toolbar=no,width=546,height=485,status=no,resizable=yes,fullscreen=no,scrollbars=no');
        fs.focus();
      }
    </script>

    <script type="text/javascript">
      yt.setMsg({
        UNBLOCK_USER: 'Are you sure you want to unblock this user?',
        BLOCK_USER: 'Are you sure you want to block this user?',
      });
      yt.setConfig('BLOCK_USER_XSRF', '');

      function share_profile() {
        var fs = window.open('/share?u=paulsoaresjr', 'Share', 'toolbar=no,width=546,height=485,status=no,resizable=yes,fullscreen=no,scrollbars=no');
        fs.focus();
      }
      yt.pubsub.subscribe('init', function () {
        window.scripts_are_loaded = true;
      });
    </script>

    <script type="text/javascript">
      window.setLastChannel3d = function () {
        if (window.channel3d != null) {
          showAndSet3DModeControl(window.channel3d);
          _gel('movie_player').set3DMode(window.channel3d);
        }
      };
      window.showAndSet3DModeControl = function (value) {
        window.channel3d = value;
        _gel('threed-view-style').value = value;
      };
      window.threedViewStyleChange = function () {
        window.channel3d = _gel('threed-view-style').value;
        _gel('movie_player').set3DMode(window.channel3d);
      };
    </script>
  </head>
  <body id="" class="date-20110818 en_US ltr" dir="ltr">
    <form name="logoutForm" method="POST" action="/">
      <input type="hidden" name="action_logout" value="1" />
    </form>
    <!-- begin page -->
    <div id="page" class="">
      <!-- begin pagetop -->
      <div id="masthead-container">
        <div id="masthead" class="" dir="ltr">
          <a id="logo-container" href="/" title="YouTube home">
            <img id="logo" src="/pixel.gif" alt="YouTube home" />
          </a>

          <div id="masthead-sections">
            <a href="/videos?feature=mh">Browse </a><a href="/movies?feature=mh">Movies</a> <a href="http://upload.youtube.com/my_videos_upload" class="split end">Upload</a><span class="valign-fix"></span>

            <a class="start" href="/signup?new=true&amp;next=%2Fuser%2Fpaulsoaresjr">Create Account</a> <a class="end" href="https://www.google.com/accounts/ServiceLogin?uilel=3&amp;service=youtube&amp;passive=true&amp;continue=http%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26nomobiletemp%3D1%26hl%3Den_US%26next%3D%252Fuser%252Fpaulsoaresjr&amp;hl=en_US&amp;ltmpl=sso">Sign In</a>
          </div>

          <form id="masthead-search" class="search-form" autocomplete="off" action="/results" onsubmit="if (_gel('masthead-search-term').value == '') return false;">
            <button class="search-button yt-uix-button" onclick="if (_gel('masthead-search-term').value == '') return false; _gel('masthead-search').submit(); return false;;return false;" type="button" id="search-btn" dir="ltr" tabindex="2" role="button" aria-pressed="false"><span class="yt-uix-button-content">Search</span></button>
            <div id="masthead-search-terms" dir="ltr">
              <label><input id="masthead-search-term" onfocus="" class="search-term" name="search_query" value="" type="text" tabindex="1" onkeyup="goog.i18n.bidi.setDirAttribute(event,this)" title="Search" /></label>
            </div>
          </form>
        </div>
      </div>
      <!-- end pagetop -->
      <!-- begin pagemiddle -->
      <div id="content-container">
        <div id="baseDiv" class="date-20110818 video-info">
          <div id="alerts"></div>
        </div>

        <div id="channel-body">
          <div id="channel-base-div">
            <div class="inner-box hid" id="global-messages"></div>
            <div id="user_banner" class="profile-banner-box">
              <map name="imgmap"><area shape="rect" coords="905,9,949,55" href="http:/#" target="_blank" /><area shape="rect" coords="808,60,949,89" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=PCYSV8LPAJQKG" target="_blank" /><area shape="rect" coords="856,10,900,54" href="http://twitter.com/#!/paulsoaresjr" target="_blank" /><area shape="rect" coords="807,10,851,56" href="http://paulsoaresjr.com/" target="_blank" /></map>
              <img usemap="#imgmap" src="<%= channel.headerImageUrl %>" onmousedown="yt.net.ajax.sendRequest('/gen_204?a=image_map_down&amp;feature=paulsoaresjr', {method: 'GET'});yt.analytics.trackEvent('ChannelPage', 'banner_link_imagemap', 'paulsoaresjr')" height="150" width="960" class="" />
            </div>
				<%- include('parts/user-playlist-navigator') %>
            <div style="display: none">
              <div id="playnav-spinny-graphic">
                <img src="/icn_loading_animated.gif" alt="Loading..." style="padding: 30px 280px" />
              </div>
              <div id="playnav-centered-spinny-graphic">
                <table>
                  <tbody>
                    <tr>
                      <td style="vertical-align: top; text-align: center">
                        <img src="/icn_loading_animated.gif" alt="Loading..." style="padding: 30px 300px" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div style="display: none" id="playnav-debug-log">---</div>

            <div class="outer-box" id="main-channel-content" style="z-index: 0">
              <div class="left-column" id="main-channel-left">
                <div class="inner-box">
                  <div style="float: left; padding: 0 4px 4px 0" class="link-as-border-color">
                    <div class="user-thumb-xlarge link-as-border-color">
                      <div>
                        <a href="/user/<%= channel.channelId %>">
                          <img id="" src="<%= channel.profileImageUrl %>" alt="<%= channel.channelName %>" />
                        </a>
                      </div>
                    </div>
                  </div>
                  <div style="float: left; width: 170px">
                    <div class="box-title title-text-color" title="<%= channel.channelName %>" style="float: none; padding-left: 4px; margin-top: -2px; width: 170px; overflow: hidden; font-size: 123%"><%= channel.channelName %></div>
                    <div style="whitespace: no-wrap; position: relative; width: 170px">
                      <div>
                        <span class="subscription-container" data-subscription-menu-type="button" data-subscription-xsrf="" data-subscription-feature="channel" data-subscription-type="user" data-subscription-value="<%= channel.channelId %>">
                          <button type="button" class="subscribe-button yt-uix-button yt-uix-button-urgent yt-uix-tooltip" onclick=";return false;" title="Click to be notified of new videos from this channel" data-button-menu-id="subscription-menu-not-logged-in-666761" role="button" aria-pressed="false"><span class="yt-uix-button-content">Subscribe</span><img class="yt-uix-button-arrow" src="/pixel.gif" alt="" /></button>
                          <div id="subscription-menu-not-logged-in-666761" class="subscription-menu-not-logged-in" style="display: none">
                            <strong><a href="https://www.google.com/accounts/ServiceLogin?uilel=3&amp;service=youtube&amp;passive=true&amp;continue=http%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26nomobiletemp%3D1%26hl%3Den_US%26next%3D%252Fuser%252Fpaulsoaresjr&amp;hl=en_US&amp;ltmpl=sso">Sign In</a> or <a href="/signup?new=true&amp;next=%2Fuser%2Fpaulsoaresjr">Sign Up</a> now! </strong>
                          </div>

                          <span class="subscription-subscribed-container hid"
                            ><span class="yt-alert yt-alert-success yt-alert-small yt-alert-naked yt-rounded"><img src="/pixel.gif" class="icon" alt="Alert icon" /><span class="yt-alert-content">Subscribed</span></span>
                            <button type="button" class="subscription-options-button yt-uix-button yt-uix-button-empty" onclick=";return false;" data-button-menu-id="edit-subscription-menu-3814104" data-button-action="yt.www.subscriptions.button.toggleMenu" role="button" aria-pressed="false"><img class="yt-uix-button-arrow" src="/pixel.gif" alt="" /></button>
                            <div id="edit-subscription-menu-3814104" class="subscription-menu subscription-menu-button hid">
                              <span class="subscription-menu-loader">Loading...</span>
                            </div>
                          </span>
                        </span>

                        <div class="cb"></div>
                      </div>
                      <div style="padding: 4px">
                        <a href="/web/20110818152921id_/http://www.youtube.com/user/paulsoaresjr#" onclick="add_friend('paulsoaresjr'); return false;">Add as Friend</a>
                        &nbsp;|&nbsp;
                        <span class="nowrap">
                          <a id="aProfileBlockUser" href="/web/20110818152921id_/http://www.youtube.com/user/paulsoaresjr#" onclick="yt.www.watch.user.blockUserLinkByUsername('paulsoaresjr', true);return false;">Block User</a>
                          &nbsp;|&nbsp;</span
                        >
                        <span class="nowrap">
                          <a id="aProfileSendMsg" href="/inbox?to_users=paulsoaresjr&amp;action_compose=1">Send Message</a>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div id="position-edit-subscription-in-channel"></div>
                  <div class="cb"></div>
                </div>
<%- include('parts/user-profile') %>
                <div class="inner-box" id="user_subscribers">
                  <div style="zoom: 1">
                    <div class="box-title title-text-color">Subscribers (<a href="/profile?user=<%= channel.channelId %>&amp;view=subscribers" class="headersSmall" name="channel-box-item-count"><%= channel.subscriberCount %></a>)</div>
                    <div class="box-editor">
                      <div style="float: right"></div>
                    </div>
                    <div class="cb"></div>
                  </div>

                  <div id="user_subscribers-messages" class="hid"></div>

                  <div id="user_subscribers-body">
                    <div style="zoom: 1; margin: 0 -12px">
<% subscribers.forEach(user => { %>
                      <div class="user-peep" style="width: 33%">
                        <center>
                          <div class="user-thumb-large link-as-border-color">
                            <div>
                              <a href="/user/<%= user.userId %>" onmousedown="yt.analytics.trackEvent('ChannelPage', 'subscriptions_image_link', 'paulsoaresjr - Yabada17')" rel="followed-by">
                                <img id="" src="<%= user.userPictureUrl %>" alt="<%= user.userName %>" />
                              </a>
                            </div>
                          </div>
                          <a href="/user/<%= user.userId %>" onmousedown="yt.analytics.trackEvent('ChannelPage', 'subscriptions_text_link', 'paulsoaresjr - Yabada17')" title="Yabada17" rel="followed-by"><%= user.userName %></a>
                        </center>
					</div>
<% }) %>
                        <div style="clear: both; font-height: 1px"></div>
                    </div>
                    <div>
                      <div style="font-size: 12px; text-align: right; margin-top: 7px">
                        <b><a name="channel-box-see-all" href="/profile?user=<%= channel.channelId %>&amp;view=subscribers"> see all </a></b>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
              <div class="right-column" id="main-channel-right">
				<!-- <%- include('parts/user-recommended-channels') %> -->
				<%- include('parts/user-channel-comments') %>
				<!-- <%- include('parts/user-recent-activity') %> -->
              </div>
              <div class="cb"></div>
            </div>

            <!-- Begin ad tag -->

            <script>
              window['google_language'] = 'en';
              yt.registerGlobal('google_cust_age', 'google_cust_gender', 'google_language');
            </script>

            <script type="text/javascript">
              if (yt.timing) {
                yt.timing.info('addomain', 'ad-g.doubleclick.net');
              }
              ord = Math.random() * 10000000000000000;
              add_timestamp = Math.floor(Math.random() * 100) < 5;
              if (add_timestamp) {
                kts = new Date().getTime();
                document.write('<scri' + 'pt language="JavaScript" src="http://ad-g.doubleclick.net/adj/com.ytbc/paulsoaresjr;sz=1x1;mpvid=AASqyUbhyZ-TwlAG;tile=1;dcopt=ist;!c=509879;kvid=ImXfJAxVWXo;ytexp=912202.913519.910206;kpid=509879;kga=-1;kgg=-1;kcr=ru;khd=1;longform=1;klg=en;kpu=paulsoaresjr;kr=F;ko=y;ytps=default;ytvt=c;afct=site_content;kt=K;u=ImXfJAxVWXo|509879;afv=1;ytc=paulsoaresjr;dc_dedup=1;kts=' + kts + ';ord=' + ord + '?" type="text/javascript"><\/scri' + 'pt>');
              } else {
                document.write('<scri' + 'pt language="JavaScript" src="http://ad-g.doubleclick.net/adj/com.ytbc/paulsoaresjr;sz=1x1;mpvid=AASqyUbhyZ-TwlAG;tile=1;dcopt=ist;!c=509879;kvid=ImXfJAxVWXo;ytexp=912202.913519.910206;kpid=509879;kga=-1;kgg=-1;kcr=ru;khd=1;longform=1;klg=en;kpu=paulsoaresjr;kr=F;ko=y;ytps=default;ytvt=c;afct=site_content;kt=K;u=ImXfJAxVWXo|509879;afv=1;ytc=paulsoaresjr;dc_dedup=1;ord=' + ord + '?" type="text/javascript"><\/scri' + 'pt>');
              }
            </script>

            <!-- End ad tag -->
          </div>
        </div>

        <script type="text/javascript">
          window.boxes = { user_banner: { name: 'user_banner', x_position: 0, y_position: -5, palette: 'default' }, user_playlist_navigator: { name: 'user_playlist_navigator', x_position: 1, y_position: -2, palette: 'default' }, user_profile: { name: 'user_profile', x_position: 0, y_position: 0, palette: 'default' }, user_hubber_links: { name: 'user_hubber_links', x_position: 1, y_position: 16, palette: 'default' }, user_subscribers: { name: 'user_subscribers', x_position: 0, y_position: 17, palette: 'default' }, user_comments: { name: 'user_comments', x_position: 1, y_position: 36, palette: 'default' }, user_recent_activity: { name: 'user_recent_activity', x_position: 1, y_position: 39, palette: 'default' } };
          function fix_background_height() {
            var body = _gel('channel-body');
            var browser_height = window.innerHeight || document.documentElement.clientHeight;
            if (body.offsetHeight < browser_height) {
              body.style.height = browser_height - _gel('masthead').offsetHeight + 'px';
            }
          }
          yt.pubsub.subscribe('init', fix_background_height);
          window.onresize = fix_background_height;
          function maybe_revert() {
            if (confirm('Are you sure you wish to continue?')) {
              _gel('revert_migration').submit();
            }
          }

          yt.pubsub.subscribe(yt.history.NotificationType.NAVIGATE, playnav.handleLocationHashUpdate);
          yt.history.enable();

          playnav.initDom();
        </script>

        <div class="hid">
          <div id="success-template" class="yt-alert yt-alert-success yt-rounded">
            <img src="/pixel.gif" class="icon master-sprite" alt="Alert icon" />
            <div class="yt-alert-content"></div>
            <button type="button" onclick="_hidediv(this.parentNode);" class="close master-sprite">close</button>
          </div>
          <div id="error-template" class="yt-alert yt-alert-error yt-rounded">
            <img src="/pixel.gif" class="icon master-sprite" alt="Alert icon" />
            <div class="yt-alert-content"></div>
            <button type="button" onclick="_hidediv(this.parentNode);" class="close master-sprite">close</button>
          </div>
          <div id="warn-template" class="yt-alert yt-alert-warn yt-rounded">
            <img src="/pixel.gif" class="icon master-sprite" alt="Alert icon" />
            <div class="yt-alert-content"></div>
            <button type="button" onclick="_hidediv(this.parentNode);" class="close master-sprite">close</button>
          </div>
          <div id="info-template" class="yt-alert yt-alert-info yt-rounded">
            <img src="/pixel.gif" class="icon master-sprite" alt="Alert icon" />
            <div class="yt-alert-content"></div>
            <button type="button" onclick="_hidediv(this.parentNode);" class="close master-sprite">close</button>
          </div>
          <div id="status-template" class="yt-alert yt-alert-status yt-rounded">
            <img src="/pixel.gif" class="icon master-sprite" alt="Alert icon" />
            <div class="yt-alert-content"></div>
            <button type="button" onclick="_hidediv(this.parentNode);" class="close master-sprite">close</button>
          </div>
        </div>

        <div class="cb">
          <div class="clear"></div>
        </div>
      </div>
      <!-- end pagemiddle -->
      <!-- begin pagebottom -->
      <div id="footer-container"></div>

      <div id="playlist-bar" class="hid passive editable" data-video-url="/watch?v=&amp;feature=BFql&amp;playnext=1&amp;list=QL" data-list-id="" data-list-type="QL">
        <div id="playlist-bar-bar-container">
          <div id="playlist-bar-bar">
            <div id="playlist-bar-notifications" style="display: none" class="yt-alert yt-alert-success yt-alert-small yt-alert-naked yt-rounded">
              <img src="/pixel.gif" class="icon master-sprite" alt="Alert icon" />
              <div class="yt-alert-content"></div>
            </div>
            <span id="playlist-bar-info"
              ><span class="playlist-bar-active yt-uix-button-group"
                ><button onclick=";return false;" title="Previous video" type="button" id="playlist-bar-prev-button" class="yt-uix-tooltip yt-uix-tooltip-masked start start-edge yt-uix-button yt-uix-tooltip yt-uix-button-empty" role="button" aria-pressed="false"><img class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-prev" src="/pixel.gif" alt="" /></button><button type="button" class="yt-uix-tooltip yt-uix-tooltip-masked end yt-uix-button yt-uix-button-empty" onclick=";return false;" id="playlist-bar-next-button" role="button" aria-pressed="false"><img class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-next" src="/pixel.gif" alt="" /></button></span
              ><span class="playlist-bar-passive"
                ><button onclick=";return false;" title="Play videos" type="button" id="playlist-bar-play-button" class="yt-uix-tooltip yt-uix-tooltip-masked yt-uix-button yt-uix-tooltip yt-uix-button-empty" role="button" aria-pressed="false"><img class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-play" src="/pixel.gif" alt="" /></button></span
              ><span id="playlist-bar-title">
                <span> Unsaved Playlist (<span class="item-count">0</span>) </span> </span
              ><button type="button" class="yt-uix-button-masked yt-uix-button-reverse yt-uix-button" onclick=";return false;" role="button" aria-pressed="false" aria-expanded="false" aria-haspopup="true" aria-activedescendant="">
                <span class="yt-uix-button-content">Options</span><img class="yt-uix-button-arrow" src="/pixel.gif" alt="" />
                <div class="yt-uix-button-menu" style="display: none">
                  <div id="playlist-bar-options-menu" class="">
                    <div id="playlist-bar-extras-menu">
                      <ul>
                        <li><span class="yt-uix-button-menu-item" data-action="clear"> Clear all videos from this list </span></li>
                      </ul>
                    </div>

                    <ul>
                      <li><span class="yt-uix-button-menu-item" onclick="window.location.href='http://www.google.com/support/youtube/bin/answer.py?answer=146749'">Learn more</span></li>
                    </ul>
                  </div>
                </div>
              </button></span
            >
            <a id="playlist-bar-lists-back" href="/web/20110818152921id_/http://www.youtube.com/user/paulsoaresjr#"> Return to active list </a>

            <span id="playlist-bar-controls" class="yt-uix-button-group"
              ><button type="button" class="yt-uix-tooltip yt-uix-tooltip-masked start playlist-bar-active yt-uix-button yt-uix-button-toggle yt-uix-button-empty" onclick=";return false;" id="playlist-bar-autoplay-button" role="button" aria-pressed="false"><img class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-autoplay" src="/pixel.gif" alt="" /></button><button type="button" class="yt-uix-tooltip yt-uix-tooltip-masked start playlist-bar-active yt-uix-button yt-uix-button-toggle yt-uix-button-empty" onclick=";return false;" id="playlist-bar-shuffle-button" role="button" aria-pressed="false"><img class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-shuffle" src="/pixel.gif" alt="" /></button><button type="button" class="yt-uix-tooltip yt-uix-tooltip-masked end end-edge yt-uix-button yt-uix-button-empty" onclick=";return false;" id="playlist-bar-toggle-button" role="button" aria-pressed="false"><img class="yt-uix-button-icon yt-uix-button-icon-playlist-bar-toggle" src="/pixel.gif" alt="" /></button
            ></span>
          </div>
        </div>

        <div id="playlist-bar-tray-container">
          <div id="playlist-bar-tray" class="yt-uix-slider yt-uix-slider-fluid">
            <button class="yt-uix-button playlist-bar-tray-button yt-uix-slider-prev" onclick="return false;"><img class="yt-uix-slider-prev-arrow" src="/pixel.gif" alt="Previous" /></button><button class="yt-uix-button playlist-bar-tray-button yt-uix-slider-next" onclick="return false;"><img class="yt-uix-slider-next-arrow" src="/pixel.gif" alt="Next" /></button>
            <div class="yt-uix-slider-body">
              <div id="playlist-bar-tray-content" class="yt-uix-slider-slide">
                <ol class="video-list"></ol>
                <ol id="playlist-bar-help">
                  <li class="empty playlist-bar-help-message">
                    Your queue is empty. Add videos to your queue using this button: <img src="/pixel.gif" class="addto-button-help" /><br />
                    or <a href="https://www.google.com/accounts/ServiceLogin?uilel=3&amp;service=youtube&amp;passive=true&amp;continue=http%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26nomobiletemp%3D1%26hl%3Den_US%26next%3D%252Fuser%252Fpaulsoaresjr&amp;hl=en_US&amp;ltmpl=sso">sign in</a> to load a different list.
                  </li>
                </ol>
              </div>
              <div class="yt-uix-slider-shade-left"></div>
              <div class="yt-uix-slider-shade-right"></div>
            </div>
          </div>
          <div id="playlist-bar-save"></div>
          <div id="playlist-bar-lists" class="dark-lolz"></div>
          <div id="playlist-bar-loading"><img src="/pixel.gif" alt="Loading..." /><span id="playlist-bar-loading-message">Loading...</span><span id="playlist-bar-saving-message" class="hid">Saving...</span></div>
          <div id="playlist-bar-template" style="display: none" data-video-thumb-url="//i4.ytimg.com/vi/__video_encrypted_id__/default.jpg"><!--<li class="playlist-bar-item yt-uix-slider-slide-unit __classes__" data-video-id="__video_encrypted_id__"><a href="__video_url__" title="__video_title__"><span class="video-thumb ux-thumb-96 "><span class="clip"><img src="//s.ytimg.com/yt/img/pixel.gif" alt="__video_title__" data-thumb-manual="true" data-thumb="__video_thumb_url__" ></span></span><span class="screen"></span><span class="count"><strong>__list_position__</strong></span><span class="play"><img src="//s.ytimg.com/yt/img/pixel.gif"></span><span class="yt-uix-button delete"><img class="yt-uix-button-icon-playlist-bar-delete" src="//s.ytimg.com/yt/img/pixel.gif" alt="Delete"></span></a><span dir="ltr" class="title yt-uix-slider-title"><span>__video_title__<span class="uploader">by __video_username__</span></span></span></li>--></div>
          <div id="playlist-bar-next-up-template" style="display: none"><!--<div class="playlist-bar-next-thumb"><span class="video-thumb ux-thumb-64 "><span class="clip"><img src="//i4.ytimg.com/vi/__video_encrypted_id__/default.jpg" alt="Thumbnail" ></span></span></div>--></div>
        </div>
      </div>

      <div id="shared-addto-menu" style="display: none">
        <form method="post" action="/addto_ajax">
          <ul class="addto-menu">
            <li>
              <span class="yt-uix-button-menu-item" onclick=""> <a href="/web/20110818152921id_/http://www.youtube.com/user/paulsoaresjr#" onclick="yt.www.addtomenu.signInWithAddto(this);return false">Sign in</a> to add this to a playlist </span>
            </li>

            <li class="yt-uix-button-menu-item addto-item addto-create-container" style="display: none">
              <input type="text" class="addto-create-name" value="" size="25" />
            </li>
          </ul>
        </form>
      </div>

      <!-- end pagebottom -->
    </div>
    <!-- end page -->

    <script>
      yt.setMsg({
        LIST_CLEARED: 'List cleared',
        PLAYLIST_VIDEO_DELETED: 'Video deleted.',
        ERROR_OCCURRED: 'Sorry, an error occurred.',
        NEXT_VIDEO_TOOLTIP: 'Next video:\u003cbr\u003e \u0026#8220;${next_video_title}\u0026#8221;',
        NEXT_VIDEO_NOTHUMB_TOOLTIP: 'Next video',
        SHOW_PLAYLIST_TOOLTIP: 'Show playlist',
        HIDE_PLAYLIST_TOOLTIP: 'Hide playlist',
        AUTOPLAY_ON_TOOLTIP: 'Turn autoplay off',
        AUTOPLAY_OFF_TOOLTIP: 'Turn autoplay on',
        SHUFFLE_ON_TOOLTIP: 'Turn shuffle off',
        SHUFFLE_OFF_TOOLTIP: 'Turn shuffle on',
        PLAYLIST_BAR_PLAYLIST_SAVED: 'Playlist saved!',
        PLAYLIST_BAR_ADDED_TO_FAVORITES: 'Added to favorites',
        PLAYLIST_BAR_ADDED_TO_PLAYLIST: 'Added to playlist',
        PLAYLIST_BAR_ADDED_TO_QUEUE: 'Added to queue',
        AUTOPLAY_WARNING1: 'Next video starts in 1 second...',
        AUTOPLAY_WARNING2: 'Next video starts in 2 seconds...',
        AUTOPLAY_WARNING3: 'Next video starts in 3 seconds...',
        AUTOPLAY_WARNING4: 'Next video starts in 4 seconds...',
        AUTOPLAY_WARNING5: 'Next video starts in 5 seconds...',
        UNDO_LINK: 'Undo',
      });

      yt.setConfig({
        DRAGDROP_BINARY_URL: '\/\/s.ytimg.com\/yt\/jsbin\/www-dragdrop-vfl2b2jtm.js',
        PLAYLIST_BAR_PLAYING_INDEX: -1,
        LIST_COPY_ON_EDIT_ENABLED: false,
        LOAD_WATCH_LATER_LIST: null,
      });

      yt.net.ajax.setToken('addto_ajax_logged_out', 'bGK5SSOUJjbRkVw_aS8TBGziLl18MEAxMzEzNjgxMzYx');

      yt.pubsub.subscribe('init', yt.www.lists.init);

      yt.www.thumbnaildelayload.init();

      if (_gel('masthead-search')) {
        yt.setTimeout(function () {
          window.yt.www.suggest.install(_gel('masthead-search'), _gel('masthead-search')['search_query'], 'en', 'close', '', 'Web search', -1, null);
        }, 100);
      }
    </script>
  </body>
</html>
